@import url("https://fonts.googleapis.com/css?family=Material+Icons+Round");
@import '/src/styles.scss';

$transition: all 120ms ease-out 0s;

@mixin btnClick {
  box-shadow: inset 3px 3px 7px rgb(136 165 191 / 48%), inset -3px -3px 7px #ffffff;
}

div {
  display: flex;
  flex-direction: column;
}

button {
  @include btnTheme;
  padding: 1rem;
  width: 4.3rem;
  height: 4.3rem;
  margin: auto;
  transition: $transition;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: #ebeef4;

    & .material-icons-round {
      @include activeIcon;
      transition: $transition;
    }
  }
  &:active {
    @include btnClick;
  }
}

.material-icons-round {
  @include icon;
  font-size: 3rem;
  padding-top: 3px;
}



