<div class="timer-container">
  <p>{{ formatTime(time) }}</p>
  <input type="number" class="form-control" #timeInput min="0" max="100" (input)="preventNegative($event)">
</div>
<div class="btn-container">
  <button (click)="startTimer()" [disabled]="isStartDisabled">
    <span class="material-icons-round">play_arrow</span>
  </button>
  <button (click)="stopTimer()" [disabled]="isPauseDisabled" [ngClass]="{'active': isPauseActive}">
    <span class="material-icons-round pause-btn">pause</span>
  </button>
  <button (click)="restartTimer()">
    <span class="material-icons-round">refresh</span>
  </button>
</div>


