@import '/src/styles.scss';
@import url("https://fonts.googleapis.com/css?family=Material+Icons+Round");


p {
  @include counter;
  margin-bottom: 0;
}

button {
  padding: 0;
  font-size: 2.3rem;
  border: none;
  background: transparent;
}

.timer-container {
  display: flex;
  flex-direction: column;
  & input {
    width: 3rem;
    margin: 2rem auto;
    border: none;
    height: 1.5rem;
    border-radius: 5px;
    color: $dark-blue;
    padding-left: 0.5rem;
    box-shadow: inset 2px 2px 6px rgb(136 165 191 / 40%), inset -3px -3px 7px #ffffff;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  gap: 1rem;

  & .material-icons-round {
    @include icon;
    font-size: 3.5rem;
    transition: all ease-in-out 0.2s;

    &:active {
      @include activeIcon;
    }
  }
}

 .active .pause-btn {
    @include activeIcon;
}


