@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$dark-blue: #7b91ae;
$light-blue: #e7ebf2;

@mixin counter {
  color: #ffffff;
    font-size: 7rem;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    text-align: center;
    text-shadow: -1px 2px 1px rgb(255 255 255 / 30%), 8px 8px 12px rgb(199 214 232 / 50%);
}

@mixin btnTheme {
  background: transparent;
  color: $dark-blue;
  border: none;
  box-shadow: 0.8rem 0.8rem 2.4rem #c7d6e8, -0.8rem -0.8rem 2.4rem rgb(255 255 255), -0.2rem -0.2rem 0.2rem rgb(255 255 255);
  cursor: pointer;
  border-radius: 1rem;
}

@mixin icon {
  color: rgb(191 210 227);
  cursor: pointer;
  filter: drop-shadow(-4px -4px 3px rgba(255, 255, 255, 70%)) drop-shadow(5px 3px 3px #c7d6e8);
}

@mixin activeIcon {
  color: rgba(201, 218, 233, 0.8);
  text-shadow: 1px 1px 1px rgb(214 225 239 / 60%), 0 0 0 #66767f, 1px 1px 1px rgb(214 225 239 / 0%);
  filter: none;
}

html, body {
  margin: 0;
  height: 100vh;
  background: $light-blue;
}
